<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!-- AK与SK -->
    <add key="AccessKey" value=""/>
    <add key="SecretKey" value=""/>

    <!-- 空间 -->
    <add key="Bucket" value=""/>

    <!-- 域名 -->
    <add key="Domain" value=""/>

    <!-- 是否为私有空间 -->
    <add key="Private" value="false"/>

    <!-- 资源前缀 -->
    <add key="Prefix" value=""/>

    <!-- 保存路径 -->
    <add key="SaveAs" value=""/>

    <!-- 遇到重复文件，跳过还是覆盖？ true为 覆盖-->
    <add key="OverWrite" value="true"/>

  </appSettings>
</configuration>